:root {
  /* colors */
  --clr-yellow: hsl(47, 88%, 63%);
  --clr-white: hsl(0, 0%, 100%);

  --clr-gray-500: hsl(0, 0%, 42%);
  --clr-gray-950: hsl(0, 0%, 7%);

  /* components */
  --clr-body-bg: var(--clr-yellow);
  --clr-card-bg: var(--clr-white);

  --clr-text-primary: var(--clr-gray-950);
  --clr-text-secondary: var(--clr-gray-500);
  --clr-text-accent: var(--clr-yellow);

  /* font-size */
  --fs-400: 1rem;

  /* font-weight */
  --fw-medium: 500;
  --fw-ex-bold: 800;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* general styling */

body {
  background-color: var(--clr-body-bg);
  color: var(--clr-text-primary);
  font-family: 'Figtree', sans-serif;
  font-size: var(--fs-400);
  font-weight: var(--fw-medium);
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 14px;
}

.card {
  background-color: var(--clr-card-bg);
  border: 1px solid var(--clr-gray-950);
  border-radius: 1rem;
  width: 380px;
  max-height: 522px;
  padding: 1.5rem;
  box-shadow: 8px 8px var(--clr-gray-950);
}

.card__banner-image {
  border-radius: 12px;
}

.card__tag {
  background-color: var(--clr-yellow);
  border-radius: 5px;
  padding: 4px;
  width: 80px;
  font-weight: var(--fw-ex-bold);
  text-align: center;
  margin-top: 24px;
}

.card__date {
  font-weight: var(--fw-medium);
  margin-top: 11px;
}

.card__title {
  font-size: 24px;
  font-weight: var(--fw-ex-bold);
  margin-top: 12px;
}

.card__title:hover {
  color: var(--clr-text-accent);
  cursor: pointer;
}

.card__text {
  color: var(--clr-text-secondary);
  margin-top: 12px;
}

.card__author {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.card__author-image {
  height: 32px;
}

.card__author-name {
  margin-left: 12px;
  font-weight: var(--fw-ex-bold);
}

.attribution {
  margin-top: 8px;
}
